.profile{
    width: 300px;
    height: 300px;
    background-image: url(https://th.bing.com/th/id/OIF.lB7wwq0QYgTheHH7X2y8xQ?w=171&h=180&c=7&r=0&o=5&pid=1.7);
    border-radius: 50%;
    background-size: cover;
    background-position: center;
    position: relative;
}
.notify{
    width: 50px;
    height: 50px;
    background-color: brown;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    bottom: 15px;
    right: 15px;
}