*{
    margin: 0;
}
.navbar{
    display: flex;
    flex-direction: row;
    background-color: black;
    padding: 30px 50px;
    column-gap: 5px;
    justify-content: space-between;
}
.nav-item{
    color: aliceblue;
    font-family: monospace;
}
.nav-item-container{
    display: flex;
    column-gap: 20px;
}
button{
    background-color: brown;
    border: none;
    color: bisque;
    border-radius: 5%;
    font-family: monospace;
}